# ============================================
# Python
# ============================================

__pycache__/
*.py[cod]
*.pyo

# ============================================
# Virtual Environment
# ============================================

.venv/
venv/
env/

# ============================================
# IDE
# ============================================

.vscode/
.idea/

# ============================================
# Secrets
# ============================================

config/config.yaml

# ============================================
# Environment variables
# ============================================
.env
.env.*

# ============================================
# Generated Outputs
# ============================================

outputs/*.json